@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

td {
  font-size: 2em;
  color: black;
  font-weight: 600;
}

.allowed {
  border: 1px dashed #ffff00;
  background-color: #536b3a;
}

.played {
  border: 1px dashed #536b3a;
  background-color: #ffff72;
}
